h1{
    text-align: center;
    font-size: 40px;
}

.a{
    text-align: center;
}

.b {
    margin-left: 300px;
}

.c{
    margin-left: 700px;
    margin-top: -260px;
}

.d{
    margin-top: 200px;
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.e{
    color: darkgrey;
}

.f{
    color:darkgrey;
    margin-top: -10px;
}

.g{
    margin-left: 1000px;
}